[Unit]
Description=LinuxGSM Valheim Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=ubuntu
WorkingDirectory=/home/ubuntu/valheim_server
RemainAfterExit=yes
ExecStart=/home/ubuntu/valheim_server/update_and_start.sh
ExecStop=/home/ubuntu/valheim_server/vhserver stop
Restart=no

[Install]
WantedBy=multi-user.target
